.wrap{
	max-width: 1250px;
	margin:auto;
	background:$white;
}
.container{
	max-width:980px;
	margin: auto;
}
.top-header{
	background: url('../images/header-bg.jpg') no-repeat;
	height:570px;
	width:100%;
	position: relative;
}
.james_mwangi{
	position: absolute;
	right: 0;
	bottom: 0;
}
.java-main{
	background:url('../images/top_line.png') no-repeat top center;
	max-width: 911px;
	margin:auto;
	height:146px;
	position:relative;
	top:45px;
}

.logo{
	position:absolute;
	left: 0;
	top:0;
}
.java-cup{
	background:url('../images/java-cup.png') no-repeat center center;
	width:100%;
	height:145px;
}
.intro{
	color: $white;
	@extend .clearfix;
	margin: 90px 0 0 170px;
	width: 660px;
	h1{
		font-family: $font-bold;
		font-size:41px;
		font-weight: normal;
		line-height: 1;
		margin-bottom: 15px;		
	}
	p{
		font-family: $font-light;
		font-size:22px;
		line-height: 1;
		margin-bottom: 30px;		
	}
	.start-btn{
		background:$brown;
		padding:13px 18px;
		color:$white;
		font-family: $font-light;
		font-size: 20px;
		text-transform: uppercase;
		@include border-radius(3px);
		float: left;
		&:hover{
			background:$white;
			color:$brown;
		}
	}
}
.menu{
    width: 80%;
	padding: 10px 0;
	margin: auto;
}
.menu ul{
    margin: 0; 
    padding: 0;
    float: left;
    width: 100%;
    font-size: 0;
 }
 
.menu ul li{
    display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	zoom: 1;
	width: 33.3333%;

}
 
.menu ul li a{
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	*display: inline;
	zoom: 1;
	text-decoration: none;
	color: #e67e22;
	padding:0px 10px;
	font-family: $font-bold;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	width: 100%;
	border-right: solid 3px #e67e22;
	vertical-align: top;
	
}
.menu ul li a.border-none{
	border-right:none;
}
 

 
.menu ul li a:hover, .menu ul li .current{
    color:$orange;
}

.menu.stuck {
	position: fixed;
	top: 0;
	box-shadow: rgba(215,215,215,0.8) 0px 5px 5px -5px;
	-webkit-box-shadow: rgba(215,215,215,0.8) 0px 5px 5px -5px;
	width: 100%;
	z-index: 10;
	left: 0;
	background:#cecece;
	.menu ul {
		margin: 0;
		padding: 0;
		float: none;
		width: 100%;
		font-size: 0;
		max-width: 1250px;
		margin: auto;
	}
}
.sticky{
	position: fixed;
	width: 100%;
	top: 80px;
}

.socialy-devoted{
	padding:70px 0;
	@extend .clearfix;
	.left-col{
		width:40%;
		float:left;
		text-align: center;
	}
	.right-col{
		width:60%;
		float:left;
		padding-left:30px;
	}
}

.trim-icon{
	background:url('../images/trim-icon.png') no-repeat;
	width:79px;
	height:87px;
	float:left;
}
.trim-content{
	margin-left: 100px;
	display: block;
	position: relative;
	h1{
		color:$purple;
		font-size: 34px;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 10px;
	}
	h3{
		color:$purple;
		font-size: 24px;
		line-height: 1;
		margin-bottom: 15px;
		font-family: $font-light;
	}
	ul{
		margin-left:40px;
		font-size: 18px;
		font-family: $font-light;
		color:#383333;
		margin-bottom: 50px;
		list-style-image:url('../images/list_image.png');
		li{
			margin-bottom: 20px;
		}
	}
}

.social{
	h5{
		font-family: $font-bold;
		font-size: 20px;
		color:#e67e22;
		font-weight: normal;
	}
}
.social-icons{
	@extend .clearfix;
	padding-top:20px;
	.twitter{
		background:url('../images/social-icons.png') no-repeat;
		float:left;
		width: 42px;
		height: 42px;
		margin-right: 15px;
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear;
		-ms-transition: all 200ms linear;
		transition: all 200ms linear;
		&:hover{
			background:url('../images/social-icons.png') no-repeat 0 -42px;
		}
	}
	.facebook{
		background:url('../images/social-icons.png') no-repeat -46px 0;
		float:left;
		width:42px;
		height:42px;
		-webkit-transition: all 200ms linear;
		-moz-transition: all 200ms linear;
		-o-transition: all 200ms linear;
		-ms-transition: all 200ms linear;
		transition: all 200ms linear;
		&:hover{
				background:url('../images/social-icons.png') no-repeat -46px -42px;
		}
	}
	
}
.close-btn{
	background:url('../images/close_btn.png') no-repeat;
	width: 39px;
	height: 39px;
	right: -50px;
	position: absolute;
	top: -40px;
	cursor: pointer;
}

.selfcare{
	background:url('../images/selfcare-banner.jpg') no-repeat 0 0;
	width: 100%;
	height: 596px;
}

.main-cols{
	.container{
		max-width: 910px;
	}
}
.grid-lock{
	list-style: none;
	@extend .clearfix;
	margin-top: -50px;
	padding-bottom: 40px;
	li{
		text-align: center;
		color:$brown;
		width: 30.399%;
	    width: -webkit-calc( (100% - 80px)/3 );
	    width: -moz-calc( (100% - 80px) /3);
	    width: calc( (100% - 80px) /3);
	    float: left;
		.circle{
			width:100px;
			height:100px;
			background:$orange;
			border:8px solid $white;
			padding-top: 10px;
			margin: auto auto 10px;
			@include border-radius(100%);
			-webkit-box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.3);
			box-shadow: 0px -3px 1px 0px rgba(0,0,0,0.3);
		}
		h3{
			font-size: 22px;
			font-family: $font-bold;
			font-weight: normal;
			margin-bottom: 10px;
		}
		p{

			font-size: 18px;
			line-height: 1.2;
		}
	}
	li:nth-of-type(2){
		margin:0 40px;
    }
}

.social-share{
	background:$orange;
	padding: 15px 20px 10px;
	width: 442px;
	margin:auto auto 50px;
	@extend .clearfix;
	@include border-radius(3px);
	.text{
		font-size: 30px;
		color:$brown;
		font-family: $font-bold;
		font-weight: normal;
		float:left;
		padding-top: 8px;
	}
	.social-icons{
		float:right;
		padding-top: 0;
		.twitter{
			background:url('../images/social-again.png') no-repeat;
			&:hover{
				background:url('../images/social-again.png') no-repeat 0 -42px;
			}
		}
		.facebook{
			background:url('../images/social-again.png') no-repeat -46px 0;
			&:hover{
					background:url('../images/social-again.png') no-repeat -46px -42px;
			}
		}
	}
}

.the-numbers{
	text-align:center;
	color:$brown;
	margin-bottom: 50px;
	h4{
		font-family: $font-bold;
		font-size: 36px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	.numbers-row{
		border-top:#808081 dashed 1px;
		border-bottom:#808081 dashed 1px;
	}
	ul{
		max-width: 910px;
		margin:auto;
		@extend .clearfix;
		list-style: none;
		li{
			text-align: center;
			width: 33.33%;
		    width: -webkit-calc( 100% / 3 );
		    width: -moz-calc( 100% / 3 );
		    width: calc( 100% / 3 );
		    float: left;
		    padding:30px;
		    img{
		    	margin-bottom: 10px;
		    }
		}
		h1{
			font-family:$font-din;
			font-size: 65px;
			line-height: 1.1;
			color:$orange;
			font-weight: normal;
		}
		p{
			font-size: 24px;
			font-family: $font-light;
			color:$brown;
		}
		li:nth-of-type(2){
			border-left:#808081 dashed 1px;
			border-right:#808081 dashed 1px;
	    }

	}
}

.numbers-row.borderTop-none{
	border-top:none;
}

.stories{
	background:#f3e8e1;
	padding:40px 0;
	text-align: center;
	h4{
		font-family: $font-bold;
		font-size: 36px;
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 40px;
		color:$brown;
	}
}

.video-row{
	@extend .clearfix;
	list-style: none;
	li{
		width: 30.399%;
	    width: -webkit-calc( (100% - 80px)/3 );
	    width: -moz-calc( (100% - 80px) /3);
	    width: calc( (100% - 80px) /3);
	    float: left; 
	    text-align: left;
	    h3{
	    	font-family: $font-bold;
			font-size: 18px;
			font-weight: normal;
			color:$brown;
	    }
	    p{
	    	color:$black;
	    }
	    video{
	    	width:328px;
	    	@include border-radius(7px);
	    	margin-bottom: 10px;
	    }
	}
	li:nth-of-type(2){
		margin:0 20px;
    }
}


