/* Laptop/Smaller Desktop Layout: 1366px plus */
@media only screen and (min-width: 1366px) {
	
}


/* Tablet Layout: 628px to 991px */
@media only screen and (min-width: 961px) and (max-width: 1023px) {
	

}

/* Ipad */
@media (min-width: 768px) and (max-width: 960px) {
	 
}


/*Nexus and samsung tab*/
@media (min-width: 500px) and (max-width: 767px) {
	
}

@media (min-width: 100px) and (max-width: 499px) {
	.intro-title{
		font-size: 26px;
		line-height: 35px;
	}
		
	.wrap{
		padding:0 20px;
	}
   .menu, .apolo-logo{
   	display:none;
   }
   .list-icons {
	   	.column{
		   	width:100%;
		   	margin: 0 0 30px;
		   	&:nth-of-type(2){
			   	margin:0 0 30px;
		   }
	   }
   }
   
}
/*Mobile ends*/


/* Print Styles */
/* ==================================================== */
 
@media print {

	* {
		background: transparent !important; 
		color: black !important; 
		text-shadow: none !important; 
		filter:none !important; 
		-ms-filter: none !important; 
	} 
	
	a, 
	a:visited { 
		text-decoration: underline; 
	}
	
	a[href]:after { 
		content: " (" attr(href) ")"; 
	}
	
	abbr[title]:after { 
		content: " (" attr(title) ")"; 
	}
	
	.ir a:after, 
	a[href^="javascript:"]:after, 
	a[href^="#"]:after { 
		content: ""; 
	} 
	
	pre, 
	blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	}
	
	thead { 
		display: table-header-group; 
	}
	
	tr, 
	img { 
		page-break-inside: avoid; 
	}
	
	img { 
		max-width: 100% !important; 
	}
	
	@page { 
		margin: 0.5cm; 
	}
	
	p, 
	h2, 
	h3 { 
		orphans: 3; 
		widows: 3; 
	}
	
	h2, 
	h3 { 
		page-break-after: avoid; 
	}
	
}